


@media screen and (max-width:600px) {
    *{
        margin: 0;
    }
    #head{
        margin-left: 18px;
        width: 100%;
    }
    body{
        width: 100%;
        margin: 0;
        margin-left: 10px;
        display: flex;
        justify-content: center;
    }
    #section{
        background-color: black;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    #gunbar{
        width: 100%;
    }
    .test{
        width:fit-content;
    }
    .items{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:20px ;
    }
    .navbar{
        width: 100%;
        margin-top: 5px;
        margin-left: 10px;
    }
    .items{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding: 0;
        
    }
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lists{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    .top{
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-left: 20px;
        
    }
    #gunbar{
        width: 100%;
        margin-left: 20px;
    }
    #modebar{
        width: 100%;
        margin-left: 20px;
    }
    .m416{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items:center  ;
       
    }
    .imgsize{
        width: 100%;
    
    }
    .main{
        height: auto;
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        flex-direction: column;
        gap: 5px;
        text-align: justify;
    }
    .tier{
        font-size: 20px;
    }
    .maps{
        margin: 0;
    }
    .tags{
        padding: 0;
    }
    .boths{
        flex-direction: column;
        gap: 0;
    }
    .both{
        width:100%;
        margin-left: 15px;
    }
    .m416{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #end{
        width: 100%;
        margin-right: 20px;
    }
    .imgsize{
        width: 100%;
    }
    hr{
        width: 100%;
        margin-left: 20px;
    }
}
