


@media screen and (max-width:600px) {
    *{
        margin: 0;
    }
    #section{
        background-color: black;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .test{
        width:fit-content;
    }
    .items{
        justify-content: center;
        align-items: center;
        gap:20px ;
    }
    #navbar{
        margin: 0;
        padding: 0;
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: center ;
        align-self: center;
        width: fit-content;
    }
    .items{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding: 0;
        margin: 0;
    }
    .lists{
       font-size: 50%;
    }
    .top{
        flex-direction: column;
        gap: 10px;
        
    }
    .m416{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items:center  ;
       
    }
    .imgsize{
        width: 250px;
    
    }
    .main{
        height: auto;
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
        flex-direction: column;
        gap: 5px;
        text-align: justify;
    }
    .maps{
        margin: 0;
    }
    .tags{
        padding: 0;
    }
}
