body{
    background-color:rgba(0, 0, 0, 0.668);
    margin-left: 10px;
    margin-right: 10px;
    font-family:Verdana;
    font-size:14px;
    scroll-behavior: smooth;
   /* background-image: url("bgmi'.jpg");
    background-repeat: no-repeat;
    background-size: contain;*/
}

#head {
    background-color:#eca800;
    height:90px;
    display:flex;
    justify-content: center;
    border-radius: 10px;
    border:#000 4px solid;
}
.header{
    padding: 10px;
}

.navbar{
    position: sticky;
    top:0px;
    z-index: 1;
    background-color:white;
    margin-bottom: 10px;
    padding:10px;
    border-radius:10px;
    border: 4PX solid #000;
    margin-top: 10px;
    /* background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.items{
    display: flex;
    color:#000;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

.list{
    text-decoration: none;
    color: black;
    background-color: #eca800;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    border:4px solid black;
    border-radius: 62px;
    list-style: none;
    border-radius: 44px;
    transition: all .4s ease-in-out;
    
   
    
}

.list:hover{
    background-color: white;
    border:black 10px solid;
}
.lists{
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}


#home{
    position: sticky;
    top:10px ;
}
.main
{
    background-color:#eca800;
    border-radius: 7px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding:20px;
    font-size: 100%;
   

}
.tit{
 
    text-decoration: underline;
    text-align: center;
}
.guns{
    color:rgb(0, 0, 0);
   margin:10px;
   width:fit-content;
    
    
  
    background-color:#eca800;
    border-radius: 7px;
    padding: 20px;
    clear:right;
   
   
   
}

.image {
    display: flex;
    justify-content: center;
    border-radius: 7px;
   
}
.img1{
    width: 500px;
}

.endbar{
    background-color:rgb(212, 169, 104) ;
    margin:10px;
    height:50px;
    clear:both;
    border-radius: 7px;
    font-size: 90%;
    text-align: center;
    padding: 20px;
}
h3{
   border:3px solid black;
   padding: 5px;
   border-radius: 32px;
   text-align: center;
   align-self: center;
   width: max-content;
   background-color:black;
   border-radius: 62px;
   color:#eca800;
   font-size: 200%;
   

}
.endbar ul{
    background-color:rgb(212, 169, 104);
    margin:10px;
    height:30px;
    border-radius: 10px;
    text-align: center;
    list-style-type:none;
    }
    .endbar ul li{
        list-style-type:none;
        display:inline;
    }
    .endbar ul li a{
        background-color: white;
        margin-top: 50%;
        font-size: 120%;
        text-decoration: none;
        color:black;
        font-family: arial;
       padding-left: 10px;
       padding-right: 10px;
        text-align: center;
        margin:30px;
        display:inline;

    }
.endbar ul li a:hover{  
        background-color: black;
        color:white;

}

.line{
    color: red;
}
.text{
    text-align: justify;
    text-wrap: wrap;
}
.imgsize{
    width:400px;
    border:white 3px solid;
    border-radius: 4px;
    opacity: 0.5;
}
.imgsize:hover{
    opacity:1;
}
.m416{
    display: flex;
    gap:50px;
}

.imgname{
    display: inline;
    right:auto;
    top:auto;
}
.top{
    display: flex;
    gap:200px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
.gunname{
   font-size: 200%; 
   background-color: #eca800;
   background-size:contain;
   text-align: center;
   border-radius: 5px;
   padding: 5px;
   width: 110px;
   border: 3px solid black;
  
}
.skinname{
    font-size: 170%; 
   background-color: #eca800;
   background-size:contain;
   text-align: center;
   border-radius: 5px;
   padding: 5px;
   border: 3px solid black;
  
}
#gunbar{
    height:60px;
    color:white;
    background-color: black;
    border: 3px solid white;
    border-radius:5px ;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;  
    MARGIN: 10px;    
}
#modes{
    background-color: #000;
    display: flex;    flex-direction: column;
    margin-bottom: 10px;
    padding:10px;
    border-radius:10px;
    border: 4PX solid #000;

}
.maps{
    text-decoration: none;
    color:#eca800;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border-radius: 62px;
    border-radius: 44px;
    transition: all .4s ease-in-out;
    background-color: black;
    list-style-type: none;
    width: fit-content;
    font-size: 120%;
    margin: 20px;
   
}
.maps:hover{
    color:black;
    background-color: white;
 
    }
.mode{
    height: fit-content;

}
#modebar{
    height:60px;
    color:white;
    background-color: black;
    border: 3px solid white;
    border-radius:5px ;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;      
    margin:10px;
}
.main{
    height: max-content;
    border:#000 4px solid;
  
}
.tags{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.both{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:800px;
    border:#eca800 4px solid;
    border-radius: 4px;
    padding-right: 10px;
}
.picture{
    width: 200px;
    border:black 3px solid;
    border-radius: 4px;
    height: 190px;
  
}
.boths{
    display: flex;
    gap:200px;
    margin-top: 20px;
    flex-basis: 50%;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
}


